.teamTable{
    margin-top: 6rem;
    background-color: var(--tan);
}

.userStats{
    display: flex;
    padding: 2rem 5rem;
    background-color: var(--softBlue);
    color: black;
    border-radius: 15px;
}

.stat{
    margin: auto;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.header{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem;
    background: linear-gradient(45deg,
        var(--deepOrange) 10%,
        var(--lightOrange), 
        var(--deepOrange));
}

.currentTeam{
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.record{
    margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
    .userStats{
        padding: 1rem 2rem;
    }

    .stat{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 510px) {
    .header{
        padding: 0;
    }

    .userStats{
        padding: 0.5rem 0.5rem;
        border-radius: none;
    }

    .stat{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 340px) {
    .teamTable{
        margin-top: 4rem;
    }
}