:root{
    /* Color Palette */
    --deepBlue: #00304c;
    --softBlue: #06456e;
    --lightBlue: rgb(75, 236, 235);
    --deepOrange: #ff9c25;
    --lightOrange: #fbdf46;
    --deepBrown: #83491f;
    --softBrown: #9b6f38;
    --lightBrown: #b5703a;
    --tan: #d8b179;
    --offWhite: #d7d7d7;
}