.row{
    display: flex;
    background-color: var(--offWhite);
}

.name{
    width: 13rem;
    font-size: 1.5rem;
    background-color: var(--tan);
    border: none;
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}

.statSection{
    display: flex;
    flex-grow: 1;
}

.stat{
    width: 9.09%;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    border-left: var(--deepBlue) solid 2px;
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}

.rebounds{
    width: 9.09%;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    border-left: var(--deepBlue) solid 2px;
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}

.percentage{
    width: 9.09%;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    border-left: var(--deepBlue) solid 2px;
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}

@media screen and (max-width: 900px) {
    .stat, .rebounds, .percentage{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .name{
        width: 11rem;
        font-size: 1.25rem;
    }

    .stat, .rebounds, .percentage{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 700px) {
    .name{
        width: 9rem;
        font-size: 1rem;
    }

    .stat, .rebounds, .percentage{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    .rebounds{
        display: none;
    }

    .stat, .percentage, .rebounds{
        width: 11.1%;
    }
}

@media screen and (max-width: 500px) {
    .stat{
        width: 11%;
        padding: 1.25rem 0;
    }

    .percentage{
        width: 11.5%;
        padding: 1.25rem 0;
    }

    .name{
        width: 5.5rem;
    }
}

@media screen and (max-width: 400px) {
    .stat{
        width: 14.28%;
        padding: 1.25rem 0;
    }

    .percentage{
        display: none;
    }
}