.row{
    display: flex;
    background-color: var(--offWhite);
}

.name{
    width: 13rem;
    font-size: 1.5rem;
    background-color: var(--tan);
    border: none;
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}

.statSection{
    display: flex;
    flex-grow: 1;
}

.stat{
    width: 9.09%;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    border-left: var(--deepBlue) solid 2px;
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}