.row{
    display: flex;
    border-bottom: var(--deepBlue) solid 2px;
}

.name{
    width: 13rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.statSection{
    display: flex;
    flex-grow: 1;
}

.stat{
    width: 9.09%;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    border-left: var(--deepBlue) solid 2px;
}