.row{
    display: flex;
}

.name{
    width: 13rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--tan);
    border-bottom: var(--deepBlue) solid 2px;
    padding: 0.5rem;
}

.statSection{
    display: flex;
    flex-grow: 1;
}

.stat{
    width: 12.5%;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    border-left: var(--deepBlue) solid 2px;
    border-bottom: var(--deepBlue) solid 2px;
    background-color: var(--offWhite);
    padding: 0.5rem;
}

@media screen and (max-width: 570px) {
    .name{
        width: 9.5rem;
        font-size: 1.1rem;
    }

    .stat{
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .name{
        width: 6rem;
    }
}