.homePage{
    height: 100vh;
    margin-top: 6rem;
    padding: 0.1rem;
    background: linear-gradient(45deg, 
        var(--softBlue) 5%, 
        var(--lightBlue), 
        var(--lightOrange), 
        var(--deepOrange));
}

.loading{
    height: 100px;
    border-radius: 15%;
    margin: 1rem 0 0 1rem;
}

@media screen and (max-width: 340px) {
    .homePage{
        margin-top: 5rem;
    }
}