.main{
    margin-top: 6rem;
    height: 100vh;
}

.playBtn{
    padding: 2rem;
    outline: none;
    border: none;
    margin: 2rem auto;
    border-radius: 10px;
    font-size: 2.5rem;
    background: linear-gradient(45deg, 
        var(--lightOrange), 
        var(--deepOrange));
}

.buttons{
    display: flex;
    padding: 3rem;
    background: linear-gradient(45deg, 
        var(--softBlue), 
        var(--lightBlue));
}

@media screen and (max-width: 600px) {
    .playBtn{
        padding: 1rem;
        margin: 2rem auto;
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .buttons{
        padding: 1rem;
    }

    .playBtn{
        padding: .5rem;
        margin: 2rem auto;
        font-size: 2rem;
    }
}

@media screen and (max-width: 340px) {
    .main{
        margin-top: 4rem;
    }
}