.records{
    display: flex;
}

.playerRecords{
    width: 50%;
    background-color: var(--tan);
}

.userRecords{
    width: 50%;
    background-color: rgb(120, 83, 37);
}

@media screen and (max-width: 1100px) {
    .records{
        display: block;
    }

    .playerRecords{
        width: 100%;
    }
    
    .userRecords{
        width: 100%;
    }
}