.playerHistory{
    border-right: black 2px solid;
}

.title{
    border-bottom: black 2px solid;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    background: linear-gradient(var(--softBlue) 10%, var(--lightBlue));
    color: black;
}

.selectPlayer{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
    .title{
        font-size: 4rem;
        height: 10rem;
        padding-top: 1.5rem;
    }

    .playerHistory{
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .title{
        font-size: 3rem;
        height: 7rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .title{
        font-size: 3rem;
        height: 7rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .title{
        font-size: 2.5rem;
        height: 6rem;
        padding-top: 1rem;
    }
}