.row{
    display: flex;
    padding: 0.33rem;
    border-bottom: black solid 1px;
}

.data{
    display: flex;
    padding: 0.33rem;
    width: 100%;
    text-align: center;
}

.rank{
    width: 30px;
    font-size: 1.25rem;
    font-weight: 500;
}

.wins{
    width: 25%;
    font-size: 1.25rem;
}
.losses{
    width: 25%;
    font-size: 1.25rem;
}
.winPercentage{
    width: 25%;
    font-size: 1.25rem;
}

.username{
    width: 25%;
    font-size: 1.25rem;
}

@media screen and (max-width: 900px) {
    .wins{
        width: 15%;
    }
    .losses{
        width: 15%;
    }
    .winPercentage{
        width: 25%;
    }
    
    .username{
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .rank{
        font-size: 1rem;
    }

    .wins{
        font-size: 1rem;
    }
    .losses{
        font-size: 1rem;
    }
    .winPercentage{
        font-size: 1rem;
    }
    
    .username{
        font-size: 1rem;
    }
}

@media screen and (max-width: 340px) {
    .row{
        padding: 0;
    }
}