.row{
    display: flex;
    /* background-color: blue; */
}

.name{
    width: 13rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-bottom: var(--deepBlue) solid 2px;
    background-color: var(--tan);
}

.statSection{
    display: flex;
    flex-grow: 1;
}

.stat{
    width: 12.5%;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    border-left: var(--deepBlue) solid 2px;
    border-bottom: var(--deepBlue) solid 2px;
}