.header{
    display: flex;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}

.username{
    margin-left: 30px;
    width: 25%;
}

.winPercentage{
    width: 25%;
}

.wins{
    width: 25%;
}

.losses{
    width: 25%;
}

@media screen and (max-width: 900px) {
    .wins{
        width: 15%;
    }
    .losses{
        width: 15%;
    }
    .winPercentage{
        width: 25%;
    }
    
    .username{
        width: 45%;
    }
}

/* @media screen and (max-width: 500px) {
    .wins{
        font-size: 1rem;
    }
    .losses{
        font-size: 1rem;
    }
    .winPercentage{
        font-size: 1rem;
    }
    
    .username{
        font-size: 1rem;
    }
} */