.gameBanner{
    display: flex;
    height: 8rem;
    width: 100%;
    background-color: var(--deepBlue);
    color: black;
    font-size: 5rem;
}

.homeBanner{
    display: flex;
    width: 50%;
    justify-content: right;
}

.homeBanner .score{
    width: 130px;
    text-align: center;
    margin-right: 1rem;
}

.visitorBanner{
    display: flex;
    width: 50%;
    justify-content: left;
}

.visitorBanner .score{
    width: 130px;
    text-align: center;
    margin-left: 1rem;
}

.vs{
    width: 70px;
}